* {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #2c3e50;
  font-weight: 300;
}

h2 {
  color: #2c3e50;
  font-weight: 300;
}
@media (min-width: 641px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  color: #2c3e50;
  font-weight: 300;
}

p {
  color: #474747;
  font-weight: 300;
  line-height: 28px;
}

a {
  color: #a1b1bc;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

.listOfTechnologies {
  text-align: center;
}
.listOfTechnologies .devicon {
  width: 20%;
  padding: 10px 10px;
}
@media (min-width: 641px) {
  .listOfTechnologies .devicon {
    width: 15%;
    padding: 15px 15px;
  }
}
@media (min-width: 1025px) {
  .listOfTechnologies .devicon {
    width: 10%;
    padding: 30px 30px;
  }
}

.section.grey {
  background-color: #efeded;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

.bodyContainer {
  transition: transform 0.5s ease-out;
}
.bodyContainer.open {
  transform: translateX(-50%);
}
.bodyContainer.closed {
  transform: translateX(0);
}
.bodyContainer .header {
  margin-top: 60px !important;
}

.navContainer {
  display: none;
}

.mobileNavContainer {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.mobileNavContainer .mobileTopBar {
  height: 44px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 5;
}
.mobileNavContainer .mobileTopBar a {
  color: #a1b1bc;
  font-weight: 300;
  display: inline-block;
  padding: 10px 25px;
  float: left;
}
.mobileNavContainer .mobileTopBar .mobileNavButton {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  transition: margin-right 0.5s ease-out;
}
.mobileNavContainer .mobileTopBar .mobileNavButton.open {
  margin-right: 50%;
}
.mobileNavContainer .mobileTopBar .mobileNavButton.open .one {
  transform: rotate(405deg) translate(12px, 4px);
}
.mobileNavContainer .mobileTopBar .mobileNavButton.open .two {
  display: none;
}
.mobileNavContainer .mobileTopBar .mobileNavButton.open .three {
  transform: rotate(-405deg) translate(3px, 4px);
}
.mobileNavContainer .mobileTopBar .mobileNavButton.closed {
  margin-right: 0;
}
.mobileNavContainer .mobileTopBar .mobileNavButton.closed .two {
  display: block;
}
.mobileNavContainer .mobileTopBar .mobileNavButton .one, .mobileNavContainer .mobileTopBar .mobileNavButton .two, .mobileNavContainer .mobileTopBar .mobileNavButton .three {
  height: 5px;
  width: 35px;
  border-radius: 100px;
  background-color: #efeded;
  margin-top: 5px;
  transition: transform 0.5s ease-out;
}
.mobileNavContainer .mobileTopBar .mobileNavButton .one {
  margin-top: 9px;
}
.mobileNavContainer .mobileNavWrapper {
  box-shadow: 13px 0 10px 10px black;
  width: 50%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: margin-right 0.5s ease-out;
  background-color: #474747;
}
.mobileNavContainer .mobileNavWrapper.closed {
  margin-right: -50%;
}
.mobileNavContainer .mobileNavWrapper.open {
  margin-right: 0;
}
.mobileNavContainer .mobileNavWrapper .mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.mobileNavContainer .mobileNavWrapper .mobileNav li {
  list-style-type: none;
  padding: 10px 25px;
}
.mobileNavContainer .mobileNavWrapper .mobileNav li a {
  color: #a1b1bc;
  font-weight: 300;
}
.mobileNavContainer .mobileNavWrapper .mobileNav li a:hover {
  color: #1abc9c;
}

@media (min-width: 641px) {
  .bodyContainer .header {
    margin-top: 110px !important;
  }

  .mobileNavContainer {
    display: none;
  }

  .navContainer {
    display: block;
    background-color: white;
    height: auto;
    float: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navContainer .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    padding: 16px;
    transition: padding 0.25s;
  }
  .navContainer .nav.notTop {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navContainer .nav li {
    list-style-type: none;
    padding: 10px 25px;
  }
  .navContainer .nav li.name {
    margin-right: auto;
  }
  .navContainer .nav li a {
    color: #a1b1bc;
    font-weight: 300;
  }
  .navContainer .nav li a:hover {
    color: #1abc9c;
  }
}
.bodyContainer .section .content {
  text-align: center;
}
.bodyContainer .section.header .me {
  height: 135px;
  width: 135px;
  border-radius: 100%;
  box-shadow: 0 4px 6px 2px lightGrey;
}
.bodyContainer .section.header .personalStatement {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 20px;
}
.bodyContainer .section.technologies h2 {
  padding-top: 40px;
  text-align: center;
}
.bodyContainer .section.technologies .listOfTechnologies {
  padding-bottom: 40px;
}
.bodyContainer .slider {
  position: relative;
  overflow: hidden;
  text-align: left;
}
.bodyContainer .slider ul {
  position: relative;
  padding: 0;
  list-style: none;
}
.bodyContainer .slider .slide {
  float: left;
}
.bodyContainer .slider .slide .slideContent {
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
}
.bodyContainer .slider .slide .slideContent .titleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyContainer .slider .slide .slideContent .titleBar h2 {
  text-align: center;
}
.bodyContainer .slider .slide .slideContent .titleBar .links {
  margin-bottom: 24px;
}
.bodyContainer .slider .slide .slideContent .titleBar .links a {
  color: #474747;
  margin-left: 12px;
}
.bodyContainer .slider .slide .slideContent .titleBar .links a:first-child {
  margin-left: 0;
}
.bodyContainer .slider .slide .slideContent .titleBar .links a:hover {
  color: #1abc9c;
}
.bodyContainer .slider .slide .slideContent .titleBar .tech {
  color: #474747;
}
.bodyContainer .slider .slide .slideContent .titleBar .tech i {
  margin-left: 12px;
}
.bodyContainer .slider .slide .slideContent .titleBar .tech i:first-child {
  margin-left: 0;
}
.bodyContainer .slider .controlBar {
  display: flex;
  justify-content: space-between;
}
.bodyContainer .slider .controlBar a.control_prev, .bodyContainer .slider .controlBar a.control_next {
  color: #a1b1bc;
}
.bodyContainer .slider .controlBar a.control_prev:hover, .bodyContainer .slider .controlBar a.control_next:hover {
  color: #1abc9c;
}
.bodyContainer .slider .controlBar a.control_prev {
  margin-left: 3%;
}
.bodyContainer .slider .controlBar a.control_prev i {
  transform: rotate(180deg);
}
.bodyContainer .slider .controlBar a.control_next {
  margin-right: 3%;
}
.bodyContainer .slider .controlBar .dots {
  display: flex;
}
.bodyContainer .slider .controlBar .dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #a1b1bc;
  border-radius: 50%;
  margin-left: 18px;
  align-self: center;
}
.bodyContainer .slider .controlBar .dots .dot:first-child {
  margin-left: 0;
}
.bodyContainer .slider .controlBar .dots .dot.selected {
  background-color: #1abc9c;
  width: 16px;
  height: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 641px) {
  .bodyContainer .section.header .me {
    height: 200px;
    width: 200px;
  }
  .bodyContainer .section.header .personalStatement {
    width: 550px;
  }
  .bodyContainer .section .slider .slide .slideContent {
    padding-left: 10%;
    padding-right: 10%;
  }
  .bodyContainer .section .slider .slide .slideContent .titleBar {
    flex-direction: row;
  }
  .bodyContainer .section .slider .slide .slideContent .titleBar .links {
    flex-grow: 1;
    margin-bottom: 0;
    margin-left: 24px;
  }
  .bodyContainer .section .controlBar a.control_prev {
    margin-left: 10%;
  }
  .bodyContainer .section .controlBar a.control_next {
    margin-right: 10%;
  }
}

/*# sourceMappingURL=index.css.map */
