h1 {
  color: #2c3e50;
  font-family: "Lato", sans-serif;
  font-size: 34px;
  font-weight: 300; }

h2 {
  color: #2c3e50;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300; }
  @media (min-width: 641px) {
    h2 {
      font-size: 24px; } }

h3 {
  color: #2c3e50;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300; }

p {
  color: #474747;
  font-family: "Merriweather", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px; }

a {
  color: #93ca44;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none; }

.listOfTechnologies {
  text-align: center; }
  .listOfTechnologies .devicon {
    width: 20%;
    padding: 10px 10px; }
    @media (min-width: 641px) {
      .listOfTechnologies .devicon {
        width: 15%;
        padding: 15px 15px; } }
    @media (min-width: 1025px) {
      .listOfTechnologies .devicon {
        width: 10%;
        padding: 30px 30px; } }

.section.grey {
  background-color: #efeded;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%); }

.bodyContainer {
  transition: transform .5s ease-out; }
  .bodyContainer.open {
    transform: translateX(-50%); }
  .bodyContainer.closed {
    transform: translateX(0); }
  .bodyContainer .header {
    margin-top: 60px !important; }

.navContainer {
  display: none; }

.mobileNavContainer {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  .mobileNavContainer .mobileTopBar {
    height: 44px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    z-index: 5; }
    .mobileNavContainer .mobileTopBar a {
      color: #a1b1bc;
      font-weight: 300;
      display: inline-block;
      padding: 10px 25px;
      float: left; }
    .mobileNavContainer .mobileTopBar .mobileNavButton {
      display: inline-block;
      position: fixed;
      top: 0;
      right: 0;
      height: 44px;
      width: 44px;
      transition: margin-right .5s ease-out; }
      .mobileNavContainer .mobileTopBar .mobileNavButton.open {
        margin-right: 50%; }
        .mobileNavContainer .mobileTopBar .mobileNavButton.open .one {
          transform: rotate(405deg) translate(12px, 4px); }
        .mobileNavContainer .mobileTopBar .mobileNavButton.open .two {
          display: none; }
        .mobileNavContainer .mobileTopBar .mobileNavButton.open .three {
          transform: rotate(-405deg) translate(3px, 4px); }
      .mobileNavContainer .mobileTopBar .mobileNavButton.closed {
        margin-right: 0; }
        .mobileNavContainer .mobileTopBar .mobileNavButton.closed .two {
          display: block; }
      .mobileNavContainer .mobileTopBar .mobileNavButton .one, .mobileNavContainer .mobileTopBar .mobileNavButton .two, .mobileNavContainer .mobileTopBar .mobileNavButton .three {
        height: 5px;
        width: 35px;
        border-radius: 100px;
        background-color: #efeded;
        margin-top: 5px;
        transition: transform .5s ease-out; }
      .mobileNavContainer .mobileTopBar .mobileNavButton .one {
        margin-top: 9px; }
  .mobileNavContainer .mobileNavWrapper {
    box-shadow: 13px 0 10px 10px black;
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: margin-right .5s ease-out;
    background-color: #474747; }
    .mobileNavContainer .mobileNavWrapper.closed {
      margin-right: -50%; }
    .mobileNavContainer .mobileNavWrapper.open {
      margin-right: 0; }
    .mobileNavContainer .mobileNavWrapper .mobileNav {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end; }
      .mobileNavContainer .mobileNavWrapper .mobileNav li {
        list-style-type: none;
        padding: 10px 25px; }
        .mobileNavContainer .mobileNavWrapper .mobileNav li a {
          color: #a1b1bc;
          font-weight: 300; }
          .mobileNavContainer .mobileNavWrapper .mobileNav li a:hover {
            color: #1abc9c; }

@media (min-width: 641px) {
  .bodyContainer .header {
    margin-top: 110px !important; }

  .mobileNavContainer {
    display: none; }

  .navContainer {
    display: block;
    background-color: white;
    height: auto;
    float: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; }
    .navContainer .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;
      margin-bottom: 0;
      padding: 16px;
      transition: padding 0.25s; }
      .navContainer .nav.notTop {
        padding-top: 0;
        padding-bottom: 0; }
      .navContainer .nav li {
        list-style-type: none;
        padding: 10px 25px; }
        .navContainer .nav li.name {
          margin-right: auto; }
        .navContainer .nav li a {
          color: #a1b1bc;
          font-weight: 300; }
          .navContainer .nav li a:hover {
            color: #1abc9c; } }
@media (min-width: 1025px) {
  body .navContainer .nav {
    margin-right: 100px; } }
.bodyContainer .section {
  transition: padding 0.3s linear; }
  .bodyContainer .section .header-container {
    display: flex; }
    .bodyContainer .section .header-container .accordion_button {
      height: 25px;
      width: 25px;
      margin-left: 0.83em;
      flex-grow: 0;
      align-self: center;
      cursor: pointer; }
      .bodyContainer .section .header-container .accordion_button .acc_one, .bodyContainer .section .header-container .accordion_button .acc_two {
        position: absolute;
        border-radius: 100px;
        background-color: black;
        transition: transform 0.3s ease-out; }
      .bodyContainer .section .header-container .accordion_button .acc_one {
        height: 5px;
        width: 25px;
        transform: rotate(360deg) translate(0px, 10px); }
      .bodyContainer .section .header-container .accordion_button .acc_two {
        height: 25px;
        width: 5px;
        transform: translate(10px, 0px); }
      .bodyContainer .section .header-container .accordion_button.open .acc_two {
        transform: rotate(90deg) translate(0px, -10px); }
    .bodyContainer .section .header-container h2 {
      display: inline-block; }
    .bodyContainer .section .header-container .github, .bodyContainer .section .header-container .www {
      width: 30px;
      margin-left: 15px;
      vertical-align: middle; }
    .bodyContainer .section .header-container .devicons {
      width: 30px;
      margin-left: 15px;
      vertical-align: middle;
      margin-bottom: 0.83em; }
    .bodyContainer .section .header-container .project_header {
      margin-top: 0.83em;
      margin-right: 0.83em;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 1; }
      .bodyContainer .section .header-container .project_header .project_header_content {
        text-align: center; }
  .bodyContainer .section .project_content {
    transition: max-height 0.3s linear;
    overflow: hidden; }
    .bodyContainer .section .project_content.closed {
      max-height: 0; }
    .bodyContainer .section .project_content.open {
      max-height: 1000px; }

@media (min-width: 641px) {
  .bodyContainer .section .header-container .project_header {
    margin: 0 0.83em;
    flex-direction: row;
    justify-content: space-between; }
  .bodyContainer .section .project_content {
    margin: 0 0.83em; } }

/*# sourceMappingURL=portfolio.css.map */
