// sass --watch scss:css

$lightGrey: #efeded;
$darkGrey: #474747;
$black: #2c3e50;
$green: #93ca44;
$navGrey: #a1b1bc;
$navBlue: #1abc9c;

$headerFont: "Lato";

* {
  font-family: $headerFont, sans-serif;
}

h1 {
  color: $black;
  font-weight: 300;
}

h2 {
  color: $black;
  font-weight: 300;

  @media (min-width: 641px) {
    font-size: 24px;
  }
}

h3 {
  color: $black;
  font-weight: 300;
}

p {
  color: $darkGrey;
  font-weight: 300;
  line-height: 28px;
}

a {
  color: $navGrey;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $navBlue;
  }
}

.listOfTechnologies {
  text-align: center;

  .devicon {
    width: 20%;
    padding: 10px 10px;

    @media (min-width: 641px) {
      width: 15%;
      padding: 15px 15px;
    }

    @media (min-width: 1025px) {
      width: 10%;
      padding: 30px 30px;
    }
  }
}

.section {
  &.grey {
    background-color: $lightGrey;
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  }
}
