// sass --watch scss:css

$white: #000000;
$lightGrey: #efeded;
$darkGrey: #474747;
$black: #2c3e50;
$green: #93ca44;

$headerFont: "Lato";
$bodyFont: "Merriweather";

h1 {
  color: $black;
  font-family: $headerFont, sans-serif;
  font-size: 34px;
  font-weight: 300;
}

h2 {
  color: $black;
  font-family: $headerFont, sans-serif;
  font-size: 18px;
  font-weight: 300;

  @media (min-width: 641px) {
    font-size: 24px;
  }
}

h3 {
  color: $black;
  font-family: $headerFont, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

p {
  color: $darkGrey;
  font-family: $bodyFont, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

a {
  color: $green;
  cursor: pointer;
  font-family: $headerFont, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.listOfTechnologies {
  text-align: center;

  .devicon {
    width: 20%;
    padding: 10px 10px;

    @media (min-width: 641px) {
      width: 15%;
      padding: 15px 15px;
    }

    @media (min-width: 1025px) {
      width: 10%;
      padding: 30px 30px;
    }
  }
}

// .contact {
//   cursor: pointer;
//   padding: 15px 25px;
//   background-color: $green;
//   display: inline-block;
//   color: white;
//   font-family: $headerFont;
//   border-radius: 10px;
//   transition: background-color .25s ease-out;
//
//   &:hover {
//     background-color: darken($green, 5%);
//   }
// }

.section {
  &.grey {
    background-color: $lightGrey;
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  }
}
