@import 'basics.scss';
@import 'nav.scss';

.bodyContainer {
  .section {
    .content {
      text-align: center;
    }

    &.header {
      .me {
        height: 150px;
        width: 150px;
        border-radius: 100%;
        box-shadow: 0 4px 6px 2px lightGrey;
      }

      .personalStatement {
        margin: auto;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 20px;
      }
    }

    &.technologies {
      h2 {
        padding-top: 40px;
        text-align: center;
      }

      .listOfTechnologies {
        padding-bottom: 40px;
      }
    }
  }
}

// tablet
@media (min-width: 641px) {
  .bodyContainer {
    .section {
      &.header {
        .me {
          height: 200px;
          width: 200px;
        }

        .personalStatement {
          width: 550px;
        }
      }
    }
  }
}

// desktop
@media (min-width: 1025px) {

}
