$navGrey: #a1b1bc;
$navBlue: #1abc9c;

.bodyContainer {
  transition: transform .5s ease-out;

  &.open {
    transform: translateX(-50%);
  }

  &.closed {
    transform: translateX(0);
  }


  .header {
    margin-top: 60px !important;
  }
}

.navContainer {
  display: none;
}

.mobileNavContainer {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .mobileTopBar {
    height: 44px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    z-index: 5;

    a {
      color: $navGrey;
      font-weight: 300;
      display: inline-block;
      padding: 10px 25px;
      float: left;
    }

    .mobileNavButton {
      display: inline-block;
      position: fixed;
      top: 0;
      right: 0;
      height: 44px;
      width: 44px;
      transition: margin-right .5s ease-out;

      &.open {
        margin-right: 50%;

        .one {
          transform: rotate(405deg) translate(12px, 4px)
        }

        .two {
          display: none;
        }

        .three {
          transform: rotate(-405deg) translate(3px, 4px);
        }
      }

      &.closed {
        margin-right: 0;

        .one {

        }

        .two {
          display: block;
        }

        .three {

        }
      }

      .one, .two, .three {
        height: 5px;
        width: 35px;
        border-radius: 100px;
        background-color: $lightGrey;
        margin-top: 5px;
        transition: transform .5s ease-out;
      }

      .one {
        margin-top: 9px;
      }

      .two {

      }

      .three {

      }
    }
  }

  .mobileNavWrapper {
    box-shadow: 13px 0 10px 10px black;
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: margin-right .5s ease-out;
    background-color: $darkGrey;

    &.closed {
      margin-right: -50%;
    }

    &.open {
      margin-right: 0;
    }

    .mobileNav {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      li {
        list-style-type: none;
        padding: 10px 25px;

        a {
          color: $navGrey;
          font-weight: 300;

          &:hover {
            color: $navBlue;
          }
        }
      }
    }
  }
}

// tablet
@media (min-width: 641px) {
  .bodyContainer {
    .header {
      margin-top: 110px !important;
    }
  }

  .mobileNavContainer {
    display: none;
  }

  .navContainer {
    display: block;
    background-color: white;
    height: auto;
    float: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;
      margin-bottom: 0;
      padding: 16px;
      transition: padding 0.25s;

      &.notTop {
        padding-top: 0;
        padding-bottom: 0;
      }

      li {
        list-style-type: none;
        padding: 10px 25px;

        &.name {
          margin-right: auto;
        }

        a {
          color: $navGrey;
          font-weight: 300;

          &:hover {
            color: $navBlue;
          }
        }
      }
    }
  }
}
