$navGrey: #a1b1bc;
$navBlue: #1abc9c;

.navContainer {
  display: none;
}

.mobileNavContainer {
  display: block;
  
  .mobileTopBar {
    height: 44px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
    a {
      color: $navGrey;
      font-weight: 300;
      display: inline-block;
      padding: 10px 25px;
      margin-left: 16px;
    }
    
    .mobileNavButton {
      display: inline-block;
      
      .one {
        height: 44px;
        width: 44px;
        float: right;
        background-color: blue;
      }
    }
  }
}

// tablet
@media (min-width: 641px) {
  .bodyContainer {
    .header {
      margin-top: 110px !important;
    }
  }
  
  .mobileNavContainer {
    display: none;
  }

  .navContainer {
    display: block;
    background-color: white;
    height: auto;
    float: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;
      margin-bottom: 0;
      padding: 16px;
      transition: padding 0.5s;

      &.notTop {
        padding-top: 0;
        padding-bottom: 0;
      }

      li {
        list-style-type: none;
        padding: 10px 25px;
        
        &.name {
          margin-right: auto;
        }
        
        a {
          color: $navGrey;
          font-weight: 300;
          
          &:hover {
            color: $navBlue;
          }
        }
      }
    }
  }
}

// desktop
@media (min-width: 1025px) {
  body {
    .navContainer {
      .nav {
        margin-right: 100px;
      }
    }
  }
}
