@import 'basics.scss';
@import 'nav.scss';

.bodyContainer {
  .section {
    transition: padding 0.3s linear;

    .header-container {
      display: flex;
      .accordion_button {
        height: 25px;
        width: 25px;
        margin-left: 0.83em;
        flex-grow: 0;
        align-self: center;
        cursor: pointer;

        .acc_one, .acc_two {
          position: absolute;
          border-radius: 100px;
          background-color: black;
          transition: transform 0.3s ease-out;
        }

        .acc_one {
          height: 5px;
          width: 25px;
          transform: rotate(360deg) translate(0px, 10px);
        }

        .acc_two {
          height:25px;
          width: 5px;
          transform: translate(10px, 0px);
        }
  
        &.open {
          .acc_two {
            transform: rotate(90deg) translate(0px, -10px);
          }
        }
      }

      h2 {
        display: inline-block;
      }
  
      .github, .www {
        width: 30px;
        margin-left: 15px;
        vertical-align: middle;
      }

      .devicons {
        width: 30px;
        margin-left: 15px;
        vertical-align: middle;
        margin-bottom: 0.83em;
      }
  
      .project_header {
        margin-top: 0.83em;
        margin-right: 0.83em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
  
        .project_header_content {
          text-align: center;
        }
      }
    }

    .project_content {
      transition: max-height 0.3s linear;
      overflow: hidden;
      margin-left: 0.83em;
      margin-right: 0.83em;

      &.closed {
        max-height: 0;
      }

      &.open {
        max-height: 1600px;
      }
    }
  }
}


@media (min-width: 641px) {
  .bodyContainer {
    .section {
      .header-container {
        .project_header {
          margin: 0 0.83em;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .project_content {
        margin: 0 0.83em;
      }
    }
  }
}
